@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  background-image: url("/pine/pine/11.png");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 773px;
  flex-direction: column;
  background-size: cover;
}
header {
  top: 30px;
  width: 1440px;
  padding: 0 118px;
  background-image: url(11.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.logo {
  width: 100px;
  height: 34px;
}
.Vector {
  width: 20px;
  height: 20px;
}
.navContainer {
  display: flex;
  width: 1440px;
  height: 40px;
  position: fixed;
  padding: 0 118px;
  justify-content: center;
  align-items: center;
}
.navContainerContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.navText {
  display: flex;
  justify-content: center;
  color: white;
}
.languagechanger {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.herotextcontainer {
  width: 818;
  height: 394px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.pure {
  width: 618px;
  height: 80px;
  color: #e8edf2b8;
  font-size: 80px;
  font-family: "Bebas Neue" sans-serif;
  font-weight: 400;
  margin: 0;
  height: 80px;
}
.awaits {
  height: 250px;
  color: #fdfdfefa;
  font-size: 250px;
  font-family: "Bebas Neue" sans-serif;
  font-weight: 400;
  height: 250px;
  margin: 0;
}
.heroYear {
  font-family: "Bebas Neue" sans-serif;
  font-weight: 400;
  height: 64px;
  color: #e8edf2b8;
  font-size: 64px;
  margin: 0;
}
#journey {
  background-image: url(/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.cardText {
  font-family:
    Bebas Neue,
    sans-serif;
  font-size: 37px;
  font-weight: 400;
  color: #fdfdfecc;
  text-shadow: 0px 4px 4.9px #000000a6;
  text-align: center;
  width: 232px;
  margin-inline: auto;
}

#journey .card:hover {
  filter: brightness(0.8);
}
#journey .card1:hover {
  filter: brightness(0.8);
}
#journey .card2:hover {
  filter: brightness(0.8);
}
#journey .card3:hover {
  filter: brightness(0.8);
}
.card {
  background-image: url(/pine/pine/1.png);
  height: 370px;
  width: 275px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}
.card1 {
  background-image: url(/pine/pine/2.png);
  height: 370px;
  width: 275px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}
.card2 {
  background-image: url(/pine/pine/3.png);
  height: 370px;
  width: 275px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}
.card3 {
  background-image: url(/pine/pine/4.png);
  height: 370px;
  width: 275px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}
#map {
  background-image: url(/pine/pine/Roadmap\ image.png);
  display: flex;
  align-items: center;
  width: 1440px;
  height: 902px;
  background-size: cover;
  flex-direction: column;
}
.garchig {
  display: flex;
  justify-content: end;
  height: 204px;
  flex-direction: column;
  gap: 10px;
}

.maptext {
  display: flex;
  width: 1442px;
  height: 51px;
  justify-content: center;
  font-weight: 600;
  font-size: 42px;
  font-family: "Inter";
  color: #18181bb2;
}
.maptext2 {
  display: flex;
  width: 1442px;
  height: 24px;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  font-family: "Inter";
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 800px;
  padding-top: 80px;
}

.loc1 {
  position: absolute;
  left: 1200px;
  top: 1600px;
  opacity: 0;
}
.location1:hover .loc1 {
  opacity: 1;
}
.location1:hover {
  border: solid;
  border-color: white;
}

.loc2 {
  position: absolute;
  left: 1200px;
  top: 1600px;
  opacity: 0;
}
.location2:hover .loc2 {
  opacity: 1;
}
.location2:hover {
  border: solid;
  border-color: white;
}

.loc3 {
  position: absolute;
  left: 1200px;
  top: 1600px;
  opacity: 0;
}
.location3:hover .loc3 {
  opacity: 1;
}
.location3:hover {
  border: solid;
  border-color: white;
}

.loc4 {
  position: absolute;
  left: 1200px;
  top: 1600px;
  opacity: 0;
}
.location4:hover .loc4 {
  opacity: 1;
}
.location4:hover {
  border: solid;
  border-color: white;
}

.loc5 {
  position: absolute;
  left: 1200px;
  top: 1600px;
  opacity: 0;
}
.location5:hover .loc5 {
  opacity: 1;
}
.location5:hover {
  border: solid;
  border-color: white;
}

.location1pic {
  height: 14px;
  width: 14px;
  display: flex;
  flex-direction: row;
}

.location2pic {
  height: 14px;
  width: 14px;
  display: flex;
  flex-direction: row;
}

.location3pic {
  height: 14px;
  width: 14px;
  display: flex;
  flex-direction: row;
}

.location4pic {
  height: 14px;
  width: 14px;
  display: flex;
  flex-direction: row;
}

.location5pic {
  height: 14px;
  width: 14px;
  display: flex;
  flex-direction: row;
}

.hamtaguuljbga1 {
  display: flex;
}

.location1 {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #eee9d9;
  border-radius: 120px;
  height: 112px;
  width: 513px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.location2 {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #8bb8c1cc;
  border-radius: 120px;
  height: 112px;
  width: 513px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.location3 {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #aad8d7cc;
  border-radius: 120px;
  height: 112px;
  width: 513px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.location4 {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #8bc0bdcc;
  border-radius: 120px;
  height: 112px;
  width: 513px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.location5 {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #97cce0cc;
  border-radius: 120px;
  height: 112px;
  width: 513px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.location2text1 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter";
}
.location2text2 {
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter";
  display: flex;
}

.day1 {
  font-size: 14;
  font-family: "Inter";
  background-color: white;
  height: 48px;
  width: 52px;
  display: flex;
  justify-content: center;
  border-radius: 120px;
  align-items: center;
  flex-direction: column;
}

.day2 {
  font-size: 14;
  font-family: "Inter";
  background-color: white;
  height: 48px;
  width: 52px;
  display: flex;
  justify-content: center;
  border-radius: 120px;
  align-items: center;
  flex-direction: column;
}

.day3 {
  font-size: 14;
  font-family: "Inter";
  background-color: white;
  height: 48px;
  width: 52px;
  display: flex;
  justify-content: center;
  border-radius: 120px;
  align-items: center;
  flex-direction: column;
}
.day4 {
  font-size: 14;
  font-family: "Inter";
  background-color: white;
  height: 48px;
  width: 52px;
  display: flex;
  justify-content: center;
  border-radius: 120px;
  align-items: center;
  flex-direction: column;
}
.day5 {
  font-size: 14;
  font-family: "Inter";
  background-color: white;
  height: 48px;
  width: 52px;
  display: flex;
  justify-content: center;
  border-radius: 120px;
  align-items: center;
  flex-direction: column;
}

#back {
  background-image: url(/Price&Footer\ image.png);
  display: flex;
  align-items: center;
  width: 1442px;
  height: 1120px;
  background-size: cover;
  flex-direction: column;
}

.garchig2 {
  display: flex;
  justify-content: end;
  height: 104px;
  flex-direction: column;
  gap: 10px;
  margin-top: 0px;
}
.backtext {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 51px;
  font-weight: 600;
  font-size: 42px;
  font-family: "Inter";
  color: #000000;
}
.backtext2 {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter";
  color: #18181bb2;
}
.karts {
  width: 1200px;
  height: 527px;
  display: flex;
  justify-content: center;
  margin-top: 54px;
  flex-direction: row;
  gap: 20px;
}
.kart1 {
  position: absolute;
  background-color: white;
  border-radius: 40px;
  width: 384px;
  height: 527px;
}
.border1 {
  width: 340px;
  height: 92px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.border2 {
  width: 384px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.border3 {
  border: 1px solid green;
  width: 336px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.kartian1:hover .kart1 {
  opacity: 1;
}

.kartian1:hover {
  border: solid;
  border-color: white;
}

.heart {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dollartext {
  width: 336px;
  height: 49px;
  color: #303030;
  font-weight: 600;
  font-size: 40px;
  font-family: "Montserrat";
  text-shadow: 0px 4px 4.9px #000000a6;
}
.dollartext2 {
  width: 336px;
  height: 19px;
  margin: 10px;
  color: #919191;
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter";
}
.Includestext {
  width: 256px;
  height: 22px;
  color: #121316;
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter";
  justify-content: center;
  gap: 10px;
  margin-top: 54px;
}

.kart2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 40px;
  padding: 32px 24px;
  background-color: white;
  height: 520 px;
  width: 384px;
  justify-content: space-between;
}

.Select {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4d1e2;
  border-radius: 120px;
}
.kart2Detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.check {
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Includestext2 {
  width: 256px;
  height: 22px;
  color: #3f4145;
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter";
}
.kart3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 40px;
  padding: 32px 24px;
  background-color: white;
  height: 520px;
  width: 384px;
  justify-content: space-between;
}

.kart4 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 40px;
  padding: 32px 24px;
  background-color: white;
  height: 520px;
  width: 384px;
  justify-content: space-between;
}
.Select2 {
  width: 91px;
  height: 27px;
  border-radius: 120px;
  background-color: #6972b5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.kart4:hover {
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.kart4:hover .Select {
  background-color: black;
  color: white;
}
.kart2:hover {
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.kart2:hover .Select {
  background-color: black;
  color: white;
}
.kart3:hover {
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.kart3:hover .Select {
  background-color: black;
  color: white;
}
.facebook {
  width: 93px;
  height: 22px;
  border-radius: 40px;
  background-color: white;
}
.instagram {
  width: 93px;
  height: 22px;
  border-radius: 40px;
  background-color: white;
}

footer {
  background-color: #9fc6de;
}

.foooterIcon {
  height: 14px;
  width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
